#i3dplanningbg {
    position: relative;  
    background: none;  
    overflow: hidden;  
}

#i3dplanningbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.490)), url('../img/services/bg5.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    filter: blur(6px);  
    z-index: -1;  
}
 