#company-overview{
    background: url('../img/aboutus/who_we_are.jpg') no-repeat;
    background-size: cover;
    background-position: center;
 /*   height: calc(100vh - 150px);*/
   
}

#who-we-wre-vh,
#what-we-do-vh {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #who-we-wre-vh,
    #what-we-do-vh {
        min-height: auto;  
        padding: 140px 20px;  
    }
}
#what-we-do{
    background: url('../img/aboutus/what_we_do.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

 

@media screen and (max-width: 767px) {

    .row-reverse {
        display: flex;
        flex-direction: row;
    }

    .top {
        order: 1;
    }

    .bottom {
        order: 2;
    }

}
 